<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Javascript Extension</string>
	<key>ordering</key>
	<array>
		<string>51322AC4-9866-4E93-9E8D-5D57FC4997FC</string>
		<string>26985EB6-F62E-4895-938C-BAFC321F4B3A</string>
		<string>0CA1447F-1A46-4D94-8BCD-DDC32FEE4358</string>
		<string>5F545D82-E105-4751-BB7E-C2EA8FF75E84</string>
		<string>5D13795C-3269-4BD3-9273-66E9F112583D</string>
		<string>18D73B2D-6419-4505-955E-AC895B648CE2</string>
		<string>230ACA38-102B-4F33-AE1D-6E6526AAE0FC</string>
	</array>
	<key>uuid</key>
	<string>7C007718-E915-4712-9EC3-7576B660B7E5</string>
</dict>
</plist>
